body{
	font-family: Arial, Helvetica, Verdana;
	font-size: 0.8em;
	background-color: #FFF;
}

header{
	margin: 0 5em;
	
}

header h3, header h5{
	padding: 0px;
	margin: 0px;
}

div#info-encabezado{
	width: 35%;
	text-align: center;
	display: inline-block;
	
}

div#img-unsa-logo{
	width: 60%;
	height: 60px;
	text-align: left;
	display: inline-block;
}

div#img-unsa-logo img{
	height: 100%;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}