body {
  padding-top: 60px;
  padding-bottom: 40px;
}
div.par-botones {
  margin: 1em 0;
  text-align: center;
}
div.par-botones input[type="button"] {
  padding: 2em 2em;
  margin: 0 0.5em;
  display: inline-block;
  width: 42%;
  font-size: 1.8em;
  border-radius: 0.5em;
  background-color: #3498db;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
div.par-botones input[type="button"]:hover {
  padding: 2em 2em;
  margin: 0 0.5em;
  display: inline-block;
  width: 42%;
  font-size: 1.8em;
  border-radius: 0.5em;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  color: #3498db;
}
div.tablas-propias {
  overflow: auto;
  height: 300px;
  text-align: center;
}
div.tablas-propias a:hover {
  cursor: pointer;
  color: #3498db;
  text-decoration: none;
}
fieldset {
  border-width: 0.1em;
  border-style: solid;
  border-color: #3498db;
  border-radius: 0.5em;
  padding: 0.5em;
}
.mijumbotron label {
  background-color: #fff;
  border-radius: 0.5em;
  padding: 0.3em;
  font-weight: bold;
  font-size: 1.3em;
}
table.calendario {
  margin: auto;
  border-collapse: collapse;
}
.botones a {
  background-color: #aaa;
  padding: 2em;
  margin: 1em;
}
.mijumbotron {
  background-color: #eee;
  padding: 1em;
  border-radius: 0.5em;
}
.sidebar-nav {
  padding: 10px auto;
}
.calendario {
  font-family: Arial;
  font-size: 1.4em;
}
.calendario .dias td {
  width: 80px;
  height: 70px;
  padding: 4px;
  border: 1px solid #999;
  vertical-align: top;
  background-color: #def;
}
.calendario .highlight {
  font-weight: bold;
  color: #00f;
}
.calendario .dias td:nth-child(6) {
  background-color: #ffb9c4;
}
.calendario .dias td:nth-child(7) {
  background-color: #ffb9c4;
}
.table-scroll thead,
.table-scroll tbody {
  display: block;
  width: 100%;
  text-align: center;
}
.table-scroll tbody {
  overflow: auto;
  height: 300px;
}
.table-scroll th,
.table-scroll td {
  padding: 0.2em 0;
  width: 16em;
}
.table-scroll th {
  background-color: #87ceeb;
}
.table-scroll th:nth-child(1) {
  width: 16.5em;
}
.table-scroll th:nth-child(2) {
  width: 15em;
}
.table-scroll th:nth-child(5) {
  width: 13em;
}
.table-scroll th:nth-child(6) {
  width: 13em;
}
.table-scroll a:hover {
  cursor: pointer;
  color: #3498db;
  text-decoration: none;
}
.valido {
  padding: 1em;
  background-color: #98ff98;
  border-color: #0ce886;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2px;
  color: #0dff4e;
  font-family: Helvetica;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}
.novalido {
  padding: 1em;
  background-color: #bf4158;
  border-color: #ae0a23;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2px;
  color: #ae0a23;
  font-family: Helvetica;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}
/* Large desktop */
@media (min-width: 1200px) {
  body {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .jumbotron h1 {
    font-size: 2em;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .jumbotron h1 {
    font-size: 2em;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .jumbotron h1 {
    font-size: 2em;
  }
}
